{
  "name": "%%NAME%%",
  "version": "%%VERSION%%",
  "description": "relate CLI binary for %%OS%% %%CPU%%",
  "license": "MIT",
  "repository": {
    "type": "git",
    "url": "https://github.com/relateby/relate-cli"
  },
  "os": ["%%OS%%"],
  "cpu": ["%%CPU%%"],
  "files": ["bin/relate%%EXT%%"]
}
